@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: 'Ubuntu', sans-serif;
}

button{
  cursor: pointer;
}
.navbar{
  color: white;
  height: max-content;
  background: #E63E6D;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 8px 3px #a3f1e0;
  padding: 0.5rem 1rem;
}
.navbar h2{
  padding: 1rem 0.5rem;
}

.logo{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.navbar_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.navbar_list div{

  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.navbar_list div:hover{
  transform: scale(1.1);
}
.link{
  color: white;
}
.para{
  width: 50%;
  margin: 3rem auto;
  line-height: 25px;
  font-size: 1rem;
  text-align: left;
}
.item_mainDiv{
  margin: 1rem auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.items{
  display: flex;
  margin: 1rem auto;
  width: 150px;
  padding: 0.2rem 0.3rem;
  height: 150px;
  text-align: center;
  box-shadow: 2px 2px 8px 3px grey;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
}

.items:hover{
   transform: scale(0.85);
}

.items .link{
  color: black;
}

.form_container form{
  display: flex;
    margin: 1rem auto;
    width: 60%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form_container form select,
.form_container form input{
  padding: 0.5rem;
  margin: 1rem;
  height: 2rem;
  width: 60%;
}
.form_container form button{
  margin: 0.5rem;
  padding: 0.3rem 0.6rem;
  background: black;
  color: white;
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 5px
}
.form_container form button:hover{
  transform: scale(1.1);
}
.itemsX{
  box-shadow: 0px 0px 3px 2px grey;
    padding: 0.5rem 1rem;
    width: 40%;
    border-radius: 0.2rem;
    margin: 1rem;
    position: relative;
}
.item_icon{
  display: inline-block;
  float: right;
  margin: 0 0.5rem;
  transform: scale(0.9);
}
.delete{
  color: red;
}
.item_icon:hover{
  transform: scale(1.1);
}
.btn_submit{
  padding: 0.3rem 1rem;
  margin: 1rem;
  width: 20% !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.card_outer_div{
  width: 70%;
  display: flex;
  margin: 1.5rem auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.card_outer_div .card{
  display: flex;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px darkgrey;
  width: 25%;
  min-width: 200px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.8rem;
}
.stock_form{
    margin: 1.5rem auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.stock_form select {
  width: 25%;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 150px;
  margin: 0.5rem;
}

.stock_form input{
  width: 20%;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    min-width: 120px;
    margin: 0.5rem;
}
.stock_form button {
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: black;
  font-weight: 600;
  margin: 0.5rem;
  max-width: 120px;
}
.customer_outer{
  margin-top: 2%;
    margin-left: 5%;
}
.modalBtn{
  border-radius: 5px;
  padding: 10px 20px;
  width: fit-content;
  margin: 0.5rem auto;
  border: none;
  outline: none;
  background: gray;
  color: white;
  font-weight: 600;
}

.overlay{
  background: black;
  opacity: 0.5;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.customerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  position: absolute;
  width: 40%;
  padding: 2em 3rem;
  margin: auto;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
}


.customerForm p{
  cursor: pointer;
  margin-left: 101%;
    font-size: 2rem;
    font-weight: 600;
    margin-top: -3%;
}
.customerForm input{
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    outline: none;
    width: 60%;
}
.customerForm button{
  border-radius: 5px;
  padding: 10px 20px;
  width: fit-content;
  margin: 0.5rem auto;
  border: none;
  outline: none;
  background: black;
  color: white;
  font-weight: 600;
}